*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:white;
    color: black;
}

.container{
    padding: 20px;
}

#header{
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
}

img{   
   height: auto;
   width: 420px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between
   
}

.logo{
    width: 140px
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px;

}
/*Nav bar text*/
nav ul li a{
    color: palevioletred;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

/*Line underneath menu items*/
nav ul li a::after{
    content: '';
    width: 0;  /* the line underneath the menu items */
    height: 3px;
    background:pink;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width:100%;

}


/*Home Page*/

.home{
    color:black;
}

.home-text h3{
    font-size: 90px;

}

.home-text p{
    font-size: 75px;
}


@media (max-width: 600px) {
    .home-text h3{
        font-size: 50;
    }

    .home-text p{
        font-size: 35;
    }
    
    nav .fa-solid {
        display: block;
        font-size: 35px;
    }

    nav ul{
        background: whitesmoke;
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }

}


/*Home Page End*/



/*About Page*/

.about{
    width: 100%;
    padding: 78px 0px;
    /*background-color:palevioletred;*/
    background: url(Images/pexels-karolina-grabowska-4210787.jpg);
    background-position: left;
    background-size: cover; 
}

.about img {
    height: auto;
    width: 420px;  
    border: 4px solid black;
}

/* about-text distance from img*/
.about-text{
    width: 550px;
}


.main{
    width: 1130px;
    max-width: 95%; /*space around text body*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*"About me " Heading */
.about-text h1{
    color: black;
    font-size: 90px;
    text-transform: capitalize;
    margin-bottom: 25px;
    text-align: center;
    padding-right:65px;
}

/*Software Engineering student text*/
.about-text h5{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 3px;
}


/*"I graduated text" on About me Page*/
.about-text p{
    font-size: 23px;
}

/* hides nav bar icon and reapears in media query*/
nav .fa-solid {
    display: none;
}

@media (max-width: 600px) {
    .about-text h1{
        transform: translate(-200px, -155px);
        font-size: 50px;
        line-height: 50px;
    }
    .about img{
        transform: translate(100px, 350px);
    }

    .about-text h5{
        transform: translate(-200px, -145px);
        
        font-size: 24px;
        flex-basis: 100%;
    }

    .about-text p{
        transform: translate(-200px, -100px);
        flex-basis: 100%;
        font-size: 18px;
    }

    nav .fa-solid {
        display: block;
        font-size: 35px;
    }

    nav ul{
        background: whitesmoke;
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }
       
}


/* ------ END ABOUT ------*/


h1{
    text-align: center;

}

.navbar ul{

    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
}
.navbar a{
    color:rgb(94, 255, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.tabs-headings{
    display: flex;
    margin: 20px 0 40px;

}

.descript{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tabs-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tabs-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #562b41;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.8s;
}

.tabs-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color:palevioletred;
    font-weight: 500;

}

.tab-contents{

    display:none;
}

.tab-contents.active-tab{
    display: block;
}

.wrapper-main{
    width: 1000px;
    margin:0 auto;

}


/*Contact Page*/

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(Images/darren-nunis-cxE7SXKnzv0-unsplash.jpg);
    background-position: left;
    background-size: cover;    
}

.contact .content{

    max-width: 800px;
    text-align: center;
}

/* Contact Me heading*/
.contact .content h2{
    font-size: 60px;
    font-weight: 800;
    color: black;
    transform: translate(0px,-100px);

}

/* the text underneath the Contact me heading*/
.contact .content p{
    font-weight: 300;
    color:mediumvioletred;
    font-weight: 600;
    font-size: 30px;
    transform: translate(0px,-90px);
}

/* Things got weird right here*/

.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

/*LinkedIn and Gmail info */
.container .contactInfo{
    width: 50%;
    display: flex;
    justify-content: space-between;
    row-gap: 50px;
    flex-direction:column;
    transform: translate(0px,-130px);
    /*transform: translate(-200px, 23px);*/
}


/*logos for linkedin and email*/
.container .contactInfo .box{

    position:relative;
    padding: 20px 0;
    display: flex;
}

/* circle the icons are in */
.container .contactInfo .box .icon{


    min-width: 60px;
    height: 60px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    font-size: 40px;

}


/* text underneath linkedIn heading*/
.container .contactInfo .box .text{

    display: flex;
    margin-left: 20px;
    font-size: 30px;
    color:darkred;
    flex-direction: column;
    font-weight: 600;
}


/*LinkedIn and Gmail heading on Contatc Page*/
.container .contactInfo .box .text h3{
    font-weight: 500;
    color: black;
    font-weight: 700;
}



@media (max-width: 600px) {

    .contact{
        background: url(Images/darren-nunis-cxE7SXKnzv0-unsplash.jpg);
        background-position: right;
        background-size: cover; 
        
    }

    .contact .content h2{
        font-size: 24px;
    }

    .contact .content p{
        font-size: 20px;
    }

    .container .contactInfo .box .icon{
        font-size: 20px;
        transform: translate(-100px, 23px);
        
    }

    .container .contactInfo .box .text h3{
        font-size: 20px;
        transform: translate(-100px, 23px);      
    }

    .container .contactInfo .box .text{
        font-size: 16px;
        transform: translate(-134px, 54px);
        column-gap: 40px;
    }


    nav .fa-solid {
        display: block;
        font-size: 35px;
    }


    nav ul{
        background: whitesmoke;
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height:100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s ;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }

}


/*Copy Rights Logo at the bottom of the pages*/
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: white;
    font-weight: 400;
    margin-top: 20;

}


#services{
    padding: 30px 0;
}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: pink;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;

}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;

}




#projects{
    padding: 50px 0;
}

/*/"Projects Title"*/
.sub-title{
    color: darkmagenta;
    font-size: 70px;
    margin-bottom: 15px;
    text-align: center;
    margin: 0 auto;
    padding-right:65px;  
}

.work-list{
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 50px;
    grid-template-columns: repeat(auto-fill,200px);
    margin-top: -50px;
    justify-content:space-between;  
    
}


.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    
    width: 440px;
    height: 440px;
    border-radius: 10px;
    display: flex;
    transition: transform 0.5s; 
    font-size: 540px;
    border: 4px solid black; 
}

.layer{

    width: 100%;
    height: 0; /*  height was 100% before but we changed it in order to hide layer*/
    background: linear-gradient(rgb(174, 128, 157),white);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 33px;
    transition: height 0.5s;
}



/* text to speech app heading */
.layer h3{
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
}

 /*Github Link circle*/
.layer a{
    margin-top: 20px;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    
}


.work:hover img{
    transform: scale(5);
}

.work:hover .layer{
    height: 100%;

}




